#appMaster {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('./images/stars.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 10px;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#sun {
  animation: rotate 60s linear 0s infinite;
  width: 32em;
  height: auto;
  position: absolute;
}

canvas {
  border: solid 0.2em rgb(62, 167, 106);
  position: fixed;
  top: 0;
  right: 0;
}

#loadingScreen {
  position: fixed;
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  background-color: black;
  z-index: 10;
  top: 0;
  right: 0;
  border: solid 0.2em rgb(62, 167, 106);
  font-family: 'Orbitron', sans-serif;
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loadingBar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

#loadingBalls {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#loadingScreen p {
  color: white;
  font-size: 4.5em;
  margin: 0em 0.3em 0em 0em;
  letter-spacing: 0.1em;
}

#loadingSun {
  width: 3em;
  height: 3em;
  transform: translate(-0.2em, 0.2em);
  opacity: 0.2;
  animation: loadingBalls 3.5s linear 0s infinite alternate;
}

#loadingEarth {
  width: 2em;
  height: 2em;
  transform: translateX(-0.2em);
  opacity: 0.2;
  animation: loadingBalls 3.5s linear 0.2s infinite alternate;
}

#loadingMoon {
  width: 1.6em;
  height: 1.6em;
  opacity: 0.2;
  animation: loadingBalls 3.5s linear 0.4s infinite alternate;
}

@keyframes loadingBalls {
  50% {
    opacity: 1;
  }
}
