#appMaster {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('./images/stars.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 10px;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#sun {
  animation: rotate 60s linear 0s infinite;
  width: 32em;
  height: auto;
  position: absolute;
}

#earthOrbit {
  animation: rotate 120s linear 0s infinite;
  position: absolute;
  width: 75em;
  height: 75em;
  border-radius: 50%;
  border: dashed 0.5em aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes lunarOrbit {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

#lunarOrbit {
  animation: lunarOrbit 27s linear 0s infinite;
  position: absolute;
  width: 30em;
  height: 30em;
  border: dashed 0.5em purple;
  border-radius: 50%;
  top: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#earthBox {
  position: absolute;
  width: 12em;
  height: 12em;
  border-radius: 50%;
}

#earth {
  animation: rotate 15s linear 0s infinite;
  position: absolute;
  width: 12em;
  height: auto;
}

#earthShadow {
  animation: rotate 20s linear 0s infinite reverse;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.8),
    black
  );
  box-shadow: 0rem 0.1rem 0.3rem 0.2rem rgb(0, 0, 0);
}

#moonBox {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 8em;
  height: 8em;
  border-radius: 50%;
}

#moon {
  position: absolute;
  width: 100%;
  height: 100%;
}

#lunarShadow {
  animation: rotate 20s linear 0s infinite reverse;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.8),
    black
  );
  box-shadow: 0rem 0.1rem 0.3rem 0.2rem rgb(0, 0, 0);
}

#bigMoonBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 30em;
  height: 30em;
  transform: translate(-3em, 3em);
}

#bigMoon {
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes lunarPhase {
  0% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  }
  1% {
    background: linear-gradient(
      90deg,
      black,
      rgba(0, 0, 0, 0.9),
      rgba(10, 10, 10, 0.9)
    );
  }
  2% {
    background: linear-gradient(
      90deg,
      black,
      rgba(0, 0, 0, 0.9),
      rgba(20, 20, 20, 0.9)
    );
  }
  3% {
    background: linear-gradient(
      90deg,
      black,
      rgba(0, 0, 0, 0.9),
      rgba(30, 30, 30, 0.89)
    );
  }
  4% {
    background: linear-gradient(
      90deg,
      black,
      rgba(0, 0, 0, 0.9),
      rgba(40, 40, 40, 0.9)
    );
  }
  5% {
    background: linear-gradient(
      90deg,
      black,
      rgba(0, 0, 0, 0.9),
      rgba(51, 51, 51, 0.88)
    );
  }
  25% {
    background: linear-gradient(
      90deg,
      black,
      rgba(0, 0, 0, 0.8),
      rgba(255, 255, 255, 0.2)
    );
  }
  50% {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    );
  }
  75% {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.8),
      black
    );
  }
  100% {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  }
}

/* @keyframes lunarPhase {
  0% {
    background-color: black;
  }
  25% {
    background-color: purple;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: red;
  }
  100% {
    background-color: yellow;
  }
} */

#bigMoonShadow {
  animation: lunarPhase 16.67s linear 0s infinite;
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  box-shadow: 0rem 0.1rem 0.3rem 0.2rem rgb(0, 0, 0);
}

#lunarPhases {
  position: absolute;
  top: 0;
  right: 0;
  border: 0.2em solid red;
  border-radius: 1em;
  width: 50em;
  height: auto;
}
